{% load staticfiles %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Recruit" />
  <meta http-equiv='content-Language' content='pt-BR' />

  <title>{% block title %}Recruit{% endblock %}</title>
</head>
<body>
    <ul>
        <li><a href="\" class="btn-btn-danger">Home</a></li>
        <li><a href="\login\" class="btn-btn-danger">Login</a></li>
        <li><a href="\contratante\new\" class="btn-btn-danger">Adição de Contratante</a></li>
        <li><a href="\contratantes\" class="btn-btn-danger">Listagem de Contratantes</a></li>
        <li><a href="\candidato\new\" class="btn-btn-danger">Adição de Candidato</a></li>
        <li><a href="\candidatos\" class="btn-btn-danger">Listagem de Candidatos</a></li>
        <li><a href="\recrutador\new\" class="btn-btn-danger">Adição de Recrutador</a></li>
        <li><a href="\recrutadores\" class="btn-btn-danger">Listagem de Recrutadores</a></li>
        <li><a href="\empresa\new\" class="btn-btn-danger">Adição de Empresa</a></li>
        <li><a href="\empresas\" class="btn-btn-danger">Listagem de Empresas</a></li>
        <li><a href="\vagas\" class="btn-btn-danger">Listagem de Vagas</a></li>
        <li><a href="\vaga\new\" class="btn-btn-danger">Adição de Vaga</a></li>
        <li><a href="\area_atuacao\new\" class="btn-btn-danger">Adição de Área de Atuação</a></li>
        <li><a href="\area_atuacoes\" class="btn-btn-danger">Listagem de Área de Atuação</a></li>
    </ul>
    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>